.truncate {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.random-movie {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.movie-favourite {
    stroke: red;
    fill: rgba(255, 0, 0, 0.5);
    width: 50px;
    height: 50px;

    cursor: pointer;
    transition: opacity 0.1s ease;
}

.movie-favourite_active {
    fill: rgba(255, 0, 0, 1);
}

.movie-favourite:hover {
    opacity: 0.9;
}

.movie-favourite:active {
    opacity: 1;
}
